.wrapper {
  position: relative;
}

.ellipse1 {
  position: absolute;
  width: 571px;
  height: 571px;
  left: -351px;
  top: -234px;
  z-index: -1;

  background: radial-gradient(87.48% 87.48% at 49.91% 49.91%, rgba(77, 125, 152, 0.3) 0%, rgba(73, 101, 117, 0) 100%);
  filter: blur(60px);
}

.ellipse2 {
  position: absolute;
  width: 571px;
  height: 571px;
  left: -395px;
  top: 237px;
  z-index: -1;

  background: radial-gradient(87.48% 87.48% at 49.91% 49.91%, rgba(77, 125, 152, 0.3) 0%, rgba(73, 101, 117, 0) 100%);
  filter: blur(60px);
}

.ellipse3 {
  position: absolute;
  width: 634px;
  height: 749px;
  left: 806px;
  top: -560px;
  z-index: -1;

  background: rgba(77, 125, 152, 0.2);
  filter: blur(70px);
}

.ellipse4 {
  position: absolute;
  width: 173px;
  height: 749px;
  left: 1267px;
  top: 112px;
  z-index: -1;

  background: rgba(77, 125, 152, 0.2);
  filter: blur(70px);
}

.linesGroup1 {
  position: absolute;
  z-index: -1;
}

.linesGroup2 {
  position: absolute;
  z-index: -1;

  top: 573px;
}

.linesGroup3 {
  position: absolute;
  z-index: -1;

  left: 536px;
}

.linesGroup4 {
  position: absolute;
  z-index: -1;
}

.linesGroup5 {
  position: absolute;
  z-index: -1;

  left: 382px;
}












@font-face {
  font-family: Poppins-Bold;
  src: url(./fonts/Poppins-Bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Poppins-Regular;
  src: url(./fonts/Poppins-Regular.ttf);
  font-weight: 500;
}

.headerMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 168px;
  padding: 34px 80px 0;
  margin-bottom: 81px;
}

.menu {
  display: flex;
  gap: 50px;
}

.logo {
  display: block;
  font-family: Poppins-Bold;
  font-size: 40px;
  color: white;
  font-weight: 600;
}

.menu li {
  list-style-type: none;
  font-family: Poppins-Regular;
  font-size: 25px;
  text-decoration: none;
}

.navigationLink {
  color: white;
  text-decoration: none;
}

.navigationLink:hover {
  color: white;
}

.navigationLink:active {
  color: white;
}

.changeThemeButton {
  background: linear-gradient(108.5deg, #3A5E72 4.95%, #5C93B1 132.43%);
  box-shadow: inset 7px 7px 10px rgba(79, 136, 167, 0.3);
  border-radius: 20px;
  border-style: none;
}

.changeThemeSpan {
  font-family: Poppins-Regular;
  font-size: 25px;
  color: white;

  display: block;
  margin: 20px 25px;
}

.sloganWrapper {
  margin: 0 331px;
}

.slogan {
  font-family: Poppins-Regular;
  font-size: 40px;
  color: white;
  text-align: center;
  line-height: 65px;

  width: 778px;
  margin-bottom: 75px;
}

.homePage {
  font-weight: 700;
  background: linear-gradient(#CAECFF, #78CFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */